
# template generated via ansible by {{ local_user }} at {{ ansible_date_time.time }} {{ ansible_date_time.date }}
# /var/lib/rancher/rke2/server/manifests/rke2-canal-config.yaml
---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-canal
  namespace: kube-system
spec:
  valuesContent: |-
    flannel:
{% if k8s_canal_wireguard is defined and k8s_canal_wireguard %}
      backend: "wireguard"
{% else %}
{% if k8s_cni_interface is defined %}
      iface: "{{ k8s_cni_interface }}"
{% endif %}
{% endif %}
