apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {{ item.name }}
spec:
 acme:
  server: {{ item.server | d('https://acme-v02.api.letsencrypt.org/directory') }}
  email: {{ item.email | d(k8s_acme_email) }}
  privateKeySecretRef:
    name: {{ item.name }}-prviate-key
  solvers:
{% for solver in item.solvers %}
{% if solver.type == "http" %}
    - http01:
        ingress:
          class: {{ solver.ingress }}
{% elif solver.type == "dns" %}
    - dns01:
        {{ solver.provider }}:
          {{ solver.tokenref }}:
            name: {{ solver.secret_name }}
            key: {{ solver.secret_key }}
{% endif -%}
{% endfor -%}
