apiVersion: v1
kind: Secret
metadata:
  name: {{ item.name }}
  namespace: {{ item.namespace | d('default') }}
data:
{% for secret in item.secrets %}
  {{ secret.key }}: {{ secret.value | base64_encode }}
{% endfor -%}
